//Sizes
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
$max-width-container: 1350px;

$primary-font: "Poppins", sans-serif;
$title-font: "Montserrat", sans-serif;

//colores
$color-black: #403c39;
$color-orange: #f38160;
$color-grey: #949494;