//Sizes
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
$max-width-container: 1350px;

$primary-font: "Poppins", sans-serif;
$title-font: "Playfair Display", sans-serif;

//colores
$color-black: #424241;
$color-white: #faf8f5;
$color-grey: #9e9d9b;
$bg-grey: #dedad5;
